* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;

}

h1,
h2 {
    font-size: 22px;

}

.static {
    
    position: relative;
    border-radius: 10px;
    left: 100px;
    width: 500px;
    height: 250px;
    border: 2px solid coral;
    text-align: center; 
    font-size: 25px;
    



}

.relativ {
    
    position: relative;
    border-radius: 20px;
    width: 600px;
    height: 250px;
    border: 2px solid blue;
    text-align: center;
    font-size: 25px;

}

.parent {

   display: inline-block;
   position: relative; 
   width: 1000px;
   height: 200px;
   border: 2px solid green;
}

.a,
.b {

    margin-top: 20px;
}
    
 
.child {
    

    margin-top: 20px;
    font-size: 15px;
    
}

.absolute {
    
    position: absolute;
    border: 1px solid red;
    width: 400px;
    height: 150px;
    top: 10px;
    right: 10px;
     
    
}

